@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;500;600;800&display=swap");
@import url("fonts/stylesheet.css");
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

.top_line {
  background-color: #2ecc71;
  height: 10px;
}

header {
  background: url(img/header-bg.jpg) center/cover;
  background-repeat: no-repeat;
}
header .header_container {
  max-width: 1200px;
  margin: 0 auto;
}
header .header_container .header_title {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  padding-top: 180px;
  color: white;
  padding-left: 15px;
}
header .header_container .header_title .header_title-span {
  color: #2ecc71;
  margin-left: -15px;
}
header .header_container .header_text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: white;
  max-width: 460px;
  padding-top: 60px;
  padding-left: 15px;
}
header .header_container .header_icons {
  padding-top: 25px;
  padding-bottom: 175px;
  display: flex;
  align-items: center;
}
header .header_container .header_icons .headr_icon {
  margin: 10px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  cursor: pointer;
}
header .header_container .header_icons .headr_icon:hover {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  opacity: 1;
  transition: 0.7s;
}

.service .service_container {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 930px) {
  .service .service_container {
    flex-direction: column;
  }
}
.service .service_container .service_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 930px) {
  .service .service_container .service_box {
    margin: 25px 0px;
  }
}
.service .service_container .service_box .service_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #2ecc71;
  border-radius: 50%;
  background-color: #2ecc71;
  width: 90px;
  height: 90px;
}
.service .service_container .service_box .service_title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.service .service_container .service_box .service_text {
  text-align: center;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: gray;
  padding-top: 30px;
  max-width: 320px;
}

.subscribe {
  background-color: #e3e3e3;
}
.subscribe .subscribe_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1035px) {
  .subscribe .subscribe_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.subscribe .subscribe_box {
  padding: 0px 15px 60px 15px;
}
@media screen and (max-width: 1035px) {
  .subscribe .subscribe_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.subscribe .subscribe_box .subscribe_title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.subscribe .subscribe_box .subscribe_text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 16px;
  line-height: 1.5;
  max-width: 540px;
  padding-top: 30px;
  color: gray;
}
@media screen and (max-width: 1035px) {
  .subscribe .subscribe_box .subscribe_text {
    text-align: center;
  }
}
.subscribe .subscribe_box .subscribe_form {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
@media screen and (max-width: 1035px) {
  .subscribe .subscribe_box .subscribe_form {
    justify-content: center;
  }
}
.subscribe .subscribe_box .subscribe_form .subscribe_form_email {
  height: 56px;
  width: 310px;
  border: 1px solid gray;
  padding-left: 25px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.subscribe .subscribe_box .subscribe_form .subscribe_form_email:focus {
  outline: none;
}
@media screen and (max-width: 545px) {
  .subscribe .subscribe_box .subscribe_form .subscribe_form_email {
    width: 70%;
  }
}
.subscribe .subscribe_box .subscribe_form .subscribe_form_button {
  height: 56px;
  width: 140px;
  margin-left: -5px;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
  cursor: pointer;
}
.subscribe .subscribe_box .subscribe_form .subscribe_form_button:focus {
  outline: none;
}
.subscribe .subscribe_box .subscribe_form .subscribe_form_button:hover {
  background-color: white;
  background-color: white;
  color: #2ecc71;
  transition: 0.7s;
}
@media screen and (max-width: 545px) {
  .subscribe .subscribe_box .subscribe_form .subscribe_form_button {
    width: 30%;
  }
}
.subscribe .subscribe_box .subcribe_video .video {
  width: 500px;
}
@media screen and (max-width: 545px) {
  .subscribe .subscribe_box .subcribe_video .video {
    width: 100%;
  }
}

.contact .contact_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact_container .contact_text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-style: italic;
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  color: gray;
}
.contact .contact_container .contact_wraper {
  display: flex;
  flex-direction: column-reverse;
}
.contact .contact_container .contact_wraper .tabs_box {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact .contact_container .contact_wraper .tabs_box .tabs {
  margin: 3px;
  position: relative;
  cursor: pointer;
}
.contact .contact_container .contact_wraper .tabs_box .tabs:hover .img_hover {
  display: inline-block;
}
.contact .contact_container .contact_wraper .tabs_box .tabs .img_hover {
  left: 0px;
  top: 0px;
  position: absolute;
  display: none;
  background-color: rgba(46, 204, 113, 0.7);
  width: 50px;
  height: 50px;
  z-index: 100;
}
.contact .contact_container .contact_wraper .tab_content {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact_container .contact_wraper .tab_content .tab_item_text {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.contact .contact_title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 0px 15px;
  margin-top: 60px;
}
.contact .contact_second_text {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-style: italic;
  line-height: 1.5;
  padding-top: 30px;
  text-align: center;
  color: gray;
}
.contact .content_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
}
.contact .content_icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  width: 35px;
  height: 35px;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}
.contact .content_icons .icon:hover {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

footer {
  background-color: #e3e3e3;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .footer_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer_container .footer_link {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 16px;
  margin: 10px 15px;
  color: gray;
  text-decoration: none;
}
@media screen and (max-width: 545px) {
  footer .footer_container .footer_link {
    margin: 5px 15px;
  }
}
footer .footer_container .footer_link:hover {
  color: #2ecc71;
  text-decoration: overline;
}